---
interface Props {
  status: 'in-progress' | 'ongoing' | 'complete' | 'incoming';
}
const { status } = Astro.props;

const label =
  status === 'in-progress' || status === 'ongoing' ? 'IN PROGRESS' :
  status === 'incoming'                             ? 'INCOMING'    :
  null;
---

{label && <span class="badge">{label}</span>}
